@{
    ViewData["Title"] = "Drinks";
}
@model Drink;
<div class="text-center">
    <h1 class="display-4"><a href="#">Back</a> | <a href="#">Add a Drink</a></h1> 
        <table class="table table-striped">
            <tr>
                <th>Drink Name</th>
                <th>Liquor</th>
                <th>Ingredients</th>
                <th>Like??</th>

            </tr>
            @foreach (Drink drink in ViewBag.AllDrinks)
            {
                <tr>
                    <td>@drink.Name</td>
                    <td>@drink.Liquor</td>
                    <td>@drink.IngredientOne @drink.IngredientTwo @drink.IngredientThree @drink.IngredientFour</td>
                    <td>Under Maintenance</td>
                </tr>
            }
        </table>
</div>
